# Operating Systems
.DS_Store

# User Environment
env_user.py
.vscode

# Mission Data
macaddr.json
sha256list.json

# Virtual Environments
.venv
venv/

# Version and Dependency Management
.python-version
Pipfile.lock


# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
