# User Environments
env_user.py

# Lab Data
intro-threatgrid/*.json

# Mission Data
mission-data/
!mission-data/README.md

# Virtual Environments
.venv
venv/

# Version and Dependency Management
.python-version
Pipfile.lock

# IDE / Text-Editor Artifacts
.vscode
.idea

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# OS Artifacts
.DS_Store
