[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
black = "==19.3b0"

[packages]
ciscosparkapi = "*"
requests = "*"
urllib3 = "*"
bravado = "*"

[requires]
python_version = "3.7"
