# BELOW ARE THE DEPENDENCIES THAT YOU MIGHT HAVE TO INSTALL (WHEN NOT USING dCLOUD)

python3 -m pip install --upgrade pip
python3 -m pip install json
python3 -m pip install requests
python3 -m pip install datetime
python3 -m pip install <other libraries>
